* {
  box-sizing: border-box;
}
input[type='text'],
select,
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding:  12px 12px 0;
  display: inline-block;
  font-family: 'Arvo', arial;
}
h2 {
  text-align: center;
}
h2 {
  font-family: 'Beth Ellen', cursive;
}
h2 {
  font-size: 35px;
}
input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type='submit']:hover {
  background-color: #45a049;
  float: right;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  background-color: #e0eefb;
}
.card {
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.results {

}

.button {
  /* float: right; */
  border-radius: 50%
}
/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  }
}
