html
  head
    title=title
    meta(charset='UTF-8')
    link(rel="stylesheet", href="/styles/styles.css")
    link(rel="stylesheet", href="/styles/additional.css")
    link(href='https://fonts.googleapis.com/css?family=Arvo|Beth+Ellen&display=swap' rel='stylesheet')
  body
    h2 Reviews
    .card
      .container
        form(action='/save-review' method='POST')
          .row
            .col-25
              label(for='fname') Name
            .col-75
              input#fname(type='text' name='firstname' placeholder='Your name..')
          .rows
            .col-25
              label(for='country') Country Visited
            .col-75
              select#country(name='country')
                option(value='select') Select Country

                option(value='australia') Australia
                option(value='canada') Canada
                option(value='colombia') Colombia
                option(value='england') England
                option(value='japan') Japan
                option(value='latvia') Latvia
                option(value='morocco') Morocco
                option(value='netherlands') The Netherlands
                option(value='philippines') Philippines
                option(value='south africa') South Africa
                option(value='thailand') Thailand
                option(value='usa') United States
          .row
            .col-25
              label(for='subject') Leave a Review About Your Experience
            .col-75
              textarea#subject(name='subject' placeholder='Write something..' style='height:200px')

          div Rate your vacation:
          .rate
            input#star5(type='radio' name='rate' value='5')
            label(for='star5' title='text') 5 stars
            input#star4(type='radio' name='rate' value='4')
            label(for='star4' title='text') 4 stars
            input#star3(type='radio' name='rate' value='3')
            label(for='star3' title='text') 3 stars
            input#star2(type='radio' name='rate' value='2')
            label(for='star2' title='text') 2 stars
            input#star1(type='radio' name='rate' value='1')
            label(for='star1' title='text') 1 star

          .button
            button Submit

          h2 Read Other Reviews!
          if reviews
            each val in reviews
              div.container(style={"margin-bottom": '5px', "border": "1px solid #aaa"})= val.firstName + ' went to ' + val.country + ' and said ' + val.review + ' they gave it a : ' + val.rating
